@page "/Biblioteca"

<PageTitle>Biblioteca @TituloPagina.nomeSite</PageTitle>

<h1>Biblioteca</h1>
<em>Câmpus Hortolândia</em>

<h2 class="mt-4">Nossa História</h2>
<hr>
<p>A Biblioteca do câmpus Hortolândia oferece produtos e serviços para a comunidade acadêmica, apoiando as atividades de pesquisa, ensino e extensão.</p>
<p>A história da Biblioteca do câmpus é recente, começa com a data de início em 06 de fevereiro de 2014. Desde o momento da sua abertura vem trabalhando afinco para oferecer aos seus usuários, produtos e serviços para apoio educacional, bem como estender seus produtos para a comunidade externa em torno do câmpus. </p>
<p>De início eramos 2 (dois) Bibliotecários com o expediente da Biblioteca de 12 (doze) horas ininterruptas e, ao final de 2014, com a chegada de mais 2 (duas) servidoras com o cargo de auxiliar de bibliotecários, possibilitou a maximização do horário de expediente para 14 (quatorze) horas diárias ininterruptas. </p>
<p>A Biblioteca no início de 2015, passou por avaliação do Curso de Análise e Desenvolvimento de Sistemas - ADS, na qual, obteve uma boa média de pontuação em relação aos seus produtos e serviços, contribuindo assim com o câmpus no todo.</p>
<p>A Biblioteca busca a melhoria contínua dos seus produtos, processos e serviços, agregando valor educacional aos seus usuários e a toda comunidade no entorno. </p>

<h2 class="mt-4">Equipe</h2>
<hr>
<ul>
    <li class="mt-2"><b>Kênia Cristina Cristina Pereira Silva</b> - Diretora Adjunta Educacional - Docente</li>
    <li class="mt-2"><b>Élcio José da Costa</b> – Bibliotecário-Documentalista / Coordenador da Biblioteca</li>
    <li class="mt-2"><b>Nirlei Maria Oliveira</b> – Bibliotecária-Documentalista</li>
    <li class="mt-2"><b>Letícia Maria Cabral</b> – Assistente de Administração</li>
    <li class="mt-2"><b>Samara Sivirino Marques</b> – Auxiliar de Biblioteca</li>
</ul>
<h2 class="mt-4">Acervo</h2>
<hr>
<p>
    O acervo é de acesso aberto, possibilitando o usuário a consultar Livros, Periódicos, Material de Referência e Material de Multimídia nas áreas de Tecnologia da Informação, Eletroeletrônica, Mecânica, e Literatura. O acervo atende usuários dos cursos técnicos integrados, técnico concomitante e curso de ensino superior.
</p>
<p>
    A organização do acervo da biblioteca é baseado segundo a CDD - Classificação Decimal de Dewey, AACR2 - Código de Catalogação Anglo Americano e para notação dos autores é utilizado a Tabela Cutter-Sanborn fornecido pela OCLC. Para gestão do acervo é utilizado software Pergamum.
</p>
<h2 class="mt-4">Pesquisa no acervo</h2>
<hr>
<em class="mb-3">Clique na caixa para ir ao Pergamum (link externo)</em>
<br>
<a href="http://pergamum.biblioteca.ifsp.edu.br/" target="_blank" rel="noopener noreferrer"><img class="img-thumbnail mt-2" src="https://hto.ifsp.edu.br/portal/images/thumbnails/images/IFSP/CBI/Imagens/Imagens/Biblioteca_logo_Pergamum-fill-151x81.jpg" alt="Link para o Pergamum" style="width: 40%; margin: auto; display: block;"></a>
<br>
<br>
<br>
@code{}