@page "/CalendarioAcademico"

<PageTitle>Calendário Acadêmico @TituloPagina.nomeSite</PageTitle>

<h1>Calendário Acadêmico Concomitantes, Integrados e Superiores</h1>
<em>Câmpus Hortolândia</em>

<h2 class="mt-4">Calendários Acadêmicos 2023</h2>
<hr>
<p>A&nbsp;<a href="https://hto.ifsp.edu.br/cloud/s/NqsKkpk8irNtk2t" target="_blank" rel="noopener" dir="ltr">Portaria HTO IFSP Nº 16/2023, de 13 de fevereiro de 2023</a>&nbsp;<a href="/portal/images/IFSP/Documentos_Institucionais/Portarias/2019/Dez_HTO0122_2019-_Aprovao_dos_calendrios_acadmicos_2019.pdf" target="_blank" dir="ltr"></a>(<em>arquivo em pdf, tamanho 2 MB) altera os calendários acadêmicos dos cursos do IFSP Campus Hortolândia para o ano letivo de 2023.</em>
</p>
<a class="mt-2" href="https://hto.ifsp.edu.br/cloud/s/tTSYNKCYei72Wf7" target="_blank" rel="noopener" dir="ltr">1 - Cursos Técnicos Integrados ao Ensino Médio -&nbsp; 2023 (arquivo PDF 494 KB)</a>
<p><a class="mt-2" href="https://hto.ifsp.edu.br/cloud/s/55L74mdemjFRq7L" target="_blank" rel="noopener" dir="ltr">2 - Cursos Técnicos Concomitantes-Subsequentes ao Ensino Médio - 2023 (arquivo PDF 494 KB)&nbsp;</a></p>
<p><a class="mt-2" href="https://hto.ifsp.edu.br/cloud/s/jexi4JRKgt5eB8C" target="_blank" rel="noopener" dir="ltr">3 - Cursos Superiores -&nbsp; 2023 (arquivo PDF 506 KB)</a></p>
<p><a class="mt-2" href="https://hto.ifsp.edu.br/cloud/s/LYzRMJzBdXcBQr2" target="_blank" rel="noopener" dir="ltr">4 - Cursos de Especialização - 2023 (arquivo PDF 512 KB)</a></p>