@page "/Cursos"

<PageTitle>Cursos @TituloPagina.nomeSite</PageTitle>

<h1>Cursos Ofertados</h1>
<em>Câmpus Hortolândia</em>

<div class="row mt-4">
    <div class="col-md-3"><p>Mostrar cursos de nível:</p></div>
    <div class="col-md-2"><label><input type="checkbox" @onchange="UpdateSelectedCourseLevelsSup" /> Superior</label></div>
    <div class="col-md-2"><label><input type="checkbox" @onchange="UpdateSelectedCourseLevelsTec" /> Técnico</label></div>
</div>

<p class="mt-2">Clique em um cartão para ir à página de detalhes do curso.</p>

@if (selectedCourseLevels.Contains(0))
{
    <h2 class="mt-4">Nível Superior</h2>
    <hr>
    <CursoCard Nível=0 Titulo="Engenharia de Controle e Automação" Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/engenharia-automacao/engenharia-automacao-apresentacao" Descrição="O Engenheiro de Controle e Automação projeta e gerencia a instalação e operação de sistemas de controle e supervisão, redes industriais, sensores e atuadores presentes nos processos industriais. Executa vistoria, perícia e avaliação, emite laudo e parecer técnicos, além de ministrar treinamentos. Promove inovações científicas e tecnológicas e, de modo crítico e criativo, identifica e resolve problemas relacionados à implementação de tecnologias de automação da indústria. Busca atender às demandas da sociedade com ética e compreende a conjuntura social, política, econômica e cultural do país e seu contexto global. Compreende os fenômenos físico-químicos dos processos industriais, possui habilidades técnicas sobre inteligência de negócios e conhecimentos matemáticos que lhe permitem modelar sistemas e atuar com visão holística em projetos." />
    <CursoCard Nível=0 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/licenciatura-matematica/licenciatura-matematica-apresentacao" Titulo="Licenciatura em Matemática" Descrição="O Licenciado em Matemática é um profissional capaz de atuar na docência da educação básica, podendo dar prosseguimento nos estudos, dominando os conhecimentos teóricos e práticos, matemáticos e pedagógicos. Está preparado para lidar tanto com questões referentes à prática pedagógica quanto com a realização de projetos coletivos dentro da escola, elaboração de propostas de ensino, participação no desenvolvimento curricular, participação e atuação na administração  escolar, utilização das novas tecnologias e desenvolvimento de pesquisas sistemáticas e metodológicas relacionadas à prática. Desenvolve estratégias de ensino que favorecem a criatividade, a autonomia e a flexibilidade do pensamento matemático, buscando trabalhar com mais ênfase nos conceitos do que nas técnicas, fórmulas e algoritmos. Percebe a prática docente de Matemática como um processo dinâmico, carregado de incertezas e conflitos, um espaço de criação e reflexão, onde novos conhecimentos são gerados e modificados continuamente."/>
    <CursoCard Nível=0 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/ads/ads-apresentacao" Titulo="Tecnologia em Análise e Desenvolvimento de Sistemas (ADS)" Descrição="    O Tecnólogo em Análise e Desenvolvimento de Sistemas deverá ser capaz de analisar, projetar, documentar, especificar, testar, implantar e manter sistemas computacionais de informação. Será um profissional habituado a usar o raciocínio lógico, a empregar linguagens de programação e metodologias de construção de projetos, e preocupado com a qualidade, a usabilidade, a robustez, a integridade e a segurança de programas computacionais.
    "/>
}
@* <hr> *@
@if (selectedCourseLevels.Contains(1))
{
    <h2 class="mt-4">Nível Técnico</h2>
    <hr>
    <CursoCard Nível=1 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/eletroeletronica/eletroeletronica-apresentacao" Titulo="Técnico em Eletroeletrônica" Descrição="Planeja e executa a instalação e manutenção de equipamentos e instalações eletroeletrônicas industriais, observando normas técnicas e de segurança. Projeta e instala sistemas de acionamento e controle eletroeletrônicos. Propõe o uso eficiente da energia elétrica. Elabora, desenvolve e executa projetos de instalações elétricas em edificações em baixa tensão."/>
    <CursoCard Nível=1 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/informatica/informatica-apresentacao" Titulo="Técnico em Informática" Descrição="O Curso Técnico em Informática está contido no eixo tecnológico Informação e Comunicação que compreende tecnologias relacionadas à comunicação e processamento de dados e informações, abrangendo ações de concepção, desenvolvimento, implantação, operação, avaliação e manutenção de sistemas e tecnologias relacionadas à informática e telecomunicações. O profissional formado no Curso Técnico em Informática poderá trabalhar em instituições públicas, privadas e do terceiro setor que demandem sistemas computacionais, especialmente envolvendo programação de computadores."/>
    <CursoCard Nível=1 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/mecanica/mecanica-apresentacao" Titulo="Técnico em Fabricação Mecânica" Descrição="O curso técnico de Fabricação Mecânica capacita o estudante para atuar em indústrias de metalmecânica e materiais, além de oficinas mecânicas em geral. Fundição, soldagem, usinagens convencional e com comando numérico computadorizado (CNC), desenho mecânico, materiais e ensaios, processos de fabricação e metrologia são alguns dos temas abordados na formação técnica do profissional."/>
    <CursoCard Nível=1 Link="https://hto.ifsp.edu.br/portal/index.php/ensino/cursos/tecnico-manutencao-suporte/tecnico-manutencao-suporte-apresentacao" Titulo="Técnico em Manutenção e Suporte em Informática" Descrição="O Técnico em Manutenção e Suporte em Informática realiza manutenção preventiva e corretiva em equipamentos de informática, identificando os principais componentes de um computador e suas funcionalidades; identifica as arquiteturas de redes de computadores e analisa meios físicos, dispositivos e padrões de comunicação; avalia a necessidade de substituição ou mesmo atualização tecnológica de hardware, software e componentes de redes de computadores; administra e implanta técnicas de segurança em redes de computadores; instala, configura, desinstala e dá suporte ao usuário na utilização de softwares; realiza procedimentos de backup e recuperação de dados; administra servidores; automatiza rotinas de sistemas operacionais através da programação de scripts ou da utilização de interfaces web; desenvolve e modifica interfaces web. Além dessas competências, o técnico atua em instituições públicas, privadas e do terceiro setor que demandem suporte e manutenção de informática ou na prestação autônoma de serviços." />
}
<br>
@code {
    List<int> selectedCourseLevels = new List<int>();

    private void UpdateSelectedCourseLevelsTec(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            selectedCourseLevels.Add(1);
        }
        else
        {
           selectedCourseLevels.Remove(1); 
        }
    }
    private void UpdateSelectedCourseLevelsSup(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            selectedCourseLevels.Add(0);
        }
        else
        {
           selectedCourseLevels.Remove(0); 
        }
    }
}
