@page "/Extensao"

<PageTitle>Extensão @TituloPagina.nomeSite</PageTitle>

<h1>Extensão</h1>
<em>Câmpus Hortolândia</em>

<h2 class="mt-4">Coordenadoria de Extensão (CEX)</h2>
<hr>
<img src="https://hto.ifsp.edu.br/portal/images/thumbnails/images/Fotos/Logo_Extens%C3%A3o_01-fill-472x213.jpg" alt="Logo Extensão" style="width: 40%; margin: auto; display: block;">
<em>Sobre a Coordenadoria de Extensão</em>
<p class="m-2">
    O Objetivo da Coordenadoria de Extensão é planejar, organizar, coordenar e avaliar as atividades de extensão realizadas no âmbito do campus. Também é responsável por gerenciar e coordenar a execução de ações de extensão institucional e interinstitucional, além de organizar e divulgar eventos técnico-científicos nas áreas de atuação do campus, propiciando a aproximação entre escola e comunidade.
</p>
<h2 class="mt-4">Fale Conosco</h2>
<hr>
<ul>
    <li class="mt-2">WhatsApp: (19) 3865-8079</li>
    <li class="mt-2">E-mail: <a href="mailto:cex.hto@ifsp.edu.br">cex.hto@ifsp.edu.br</a></li>
    <li class="mt-2">Instagram: <a href="https://www.instagram.com/educom.ifsphortolandia/ " target="_blank" rel="noopener noreferrer">https://www.instagram.com/educom.ifsphortolandia/</a></li>
    <li class="mt-2">Facebook<a href="https://www.facebook.com/EducomunicacaoIFHortolandia" target="_blank" rel="noopener noreferrer">https://www.facebook.com/EducomunicacaoIFHortolandia</a></li>
</ul>
<h2 class="mt-4">Equipe</h2>
<hr>
<ul>
    <li class="mt-2"><b>Hélio Ordonio</b> - Coordenador</li>
    <li class="mt-2"><b>Sergio Rykio Kussuda</b> - Técnico em Assuntos Educacionais</li>
    <li class="mt-2"><b>Rodrigo Crivelaro</b> - Técnico em Assuntos Educacionais</li>
</ul>