@page "/Historico"

<PageTitle>Histórico @TituloPagina.nomeSite</PageTitle>

<h1>Histórico</h1>
<em>Câmpus Hortolândia</em>

<img src="https://portaleducacao.hortolandia.sp.gov.br/media/k2/items/cache/32f2537b1d58095289cb6e7585522add_L.jpg" alt="" class="img-thumbnail mt-2" style="margin: auto; display: block;">
<p class="mt-4">
    O Câmpus Hortolândia, edificado em atendimento à chamada pública do MEC-SETEC no 001/2007 - Plano de Expansão da Rede Federal de Educação Tecnológica - FASE II, está localizado no município de Hortolândia do Estado de São Paulo.
</p>
<p>
    Sua autorização de funcionamento se deu através da Portaria no 1.170, de 21 de Setembro de 2010 e iniciou suas atividades educacionais em fevereiro de 2011, oferecendo o Curso Técnico em Informática em dois turnos, tarde e noite.
</p>
<p>
    A presença do IFSP em Hortolândia permite a ampliação das opções de qualificação profissional e formação técnica e tecnológica para as indústrias e serviços da região, por meio de educação gratuita e de qualidade.
</p>
<h2 class="mt-4">Missão</h2>
<hr>
<p>
    "Consolidar uma práxis educativa que contribua para a inserção social, a formação integradora e a produção do conhecimento."
</p>
<br>
<a href="https://hto.ifsp.edu.br/portal/images/IFSP/Documentos_Institucionais/Apresentacao-Portiffolio/Carta-Apresentacao-do-IFSP_HTO.pdf">Carta de Apresentação do Câmpus</a>
@code{}