@page "/"

<PageTitle>Início @TituloPagina.nomeSite</PageTitle>

<h1>Instituto Federal de São Paulo</h1>
<em>Câmpus Hortolândia</em>
<br>
<br>
<p>Clique em um cartão para ser redirecionado à página respectiva.</p>
<div class="row">
    <IndexCard href="Cursos" desc="Confira os cursos que este Câmpus oferta no momento." titulo="Cursos" imgSrc="https://img.freepik.com/vetores-premium/chapeu-de-formatura-em-estilo-simples_633081-19.jpg"
    />
    <IndexCard href="Historico" desc="Conheça a história do Instituto Federal Câmpus Hortolândia." titulo="Histórico" imgSrc="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Instituto_Federal_Marca_2015.svg/1200px-Instituto_Federal_Marca_2015.svg.png"
    />
    <IndexCard href="Localizacao" desc="Descubra como chegar ao Instituto Federal de Hortolândia." titulo="Localização" imgSrc="https://cdn-icons-png.flaticon.com/512/18/18088.png"
    />
</div>
<div class="row">
    <IndexCard href="Biblioteca" desc="Saiba mais sobre nossas bibliotecas fisíca e virtual (Pergamum)." titulo="Biblioteca" imgSrc="https://img.freepik.com/vetores-gratis/pilha-de-livros-de-design-plano-desenhado-a-mao_23-2149334862.jpg?w=2000"
    />
    <IndexCard href="Pesquisa" desc="Área de assuntos relacionados a pesqusisas acadêmicas." titulo="Pesquisa Acadêmica" imgSrc="https://img.freepik.com/vetores-premium/mao-humana-com-lupa-vector-design-ilustracao_24877-18274.jpg"
    />
    <IndexCard href="Extensao" desc="Confira informações relacionadas aos cursos de extensão oferecidos pelo Câmpus." titulo="Cursos de Extensão" imgSrc="https://scontent.fcpq5-1.fna.fbcdn.net/v/t39.30808-6/291901507_417583377057822_802321162996252362_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=0gIgEwqzBtMQ7kNvgE3GoR6&_nc_zt=23&_nc_ht=scontent.fcpq5-1.fna&_nc_gid=Az8JuhvZJBRBAu3DqbLezXD&oh=00_AYDQuewAwv9zGvX2cqK8NJmYXahQFcd5iiJRWoq7eWVblA&oe=674D83CF"
    />
</div>
<div class="row">
    <IndexCard href="CalendarioAcademico" desc="Veja os Calendários relativos aos cursos superiores, técnicos e integrados." titulo="Calendário Acadêmico" imgSrc="https://aeda.edu.br/wp-content/uploads/2021/12/nota-calendc3a1rio-das-universidades-durante-a-pandemia.jpg"
    />
</div>
<br>
@code{}
