@page "/Localizacao"

<PageTitle>Localização @TituloPagina.nomeSite</PageTitle>

<h1>Localização</h1>
<em>Câmpus Hortolândia</em>
<h2 class="mt-4">Endereço do Câmpus</h2>
<hr>
<h3>Av. Thereza Ana Cecon Breda, 1896 - Vila Sao Pedro, Hortolândia - SP, 13183-250</h3>
<hr>
<p class="mt-3">Cheque a localização do Câmpus no mapa abaixo:</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235325.2251408721!2d-47.357441848088854!3d-22.841093547192195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bc16c66f0bed%3A0x1aee5c111efc6196!2sInstituto%20Federal%20de%20Educa%C3%A7%C3%A3o%2C%20Ci%C3%AAncia%20e%20Tecnologia%20de%20S%C3%A3o%20Paulo%2C%20Campus%20Hortol%C3%A2ndia!5e0!3m2!1spt-PT!2sbr!4v1687563544916!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0; width: 40%; margin: auto; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

@code{}