@page "/Pesquisa"

<PageTitle>Pesquisa @TituloPagina.nomeSite</PageTitle>

<h1>Pesquisa</h1>
<em>Câmpus Hortolândia</em>

<h2 class="mt-4">Coordenadoria de Pesquisa e Inovação (CPI)</h2>
<hr>
<em>À Coordenadoria de Pesquisa e Inovação, órgão subordinado à Diretoria Geral do Câmpus, compete:</em>
<ol>
    <li>Apoiar e incentivar a implantação e consolidação de linhas e grupos de pesquisa no Câmpus, de acordo com os cursos existentes e com a força de trabalho;</li>
    <li>Incentivar, apoiar, mapear e supervisionar os projetos de pesquisa e de inovação do <em>Câmpus</em> assim como suas articulações com a sociedade e seus meios produtivos;</li>
    <li>Buscar apoio externo para realização de eventos institucionais relacionados à pesquisa e inovação;</li>
    <li>Apoiar e incentivar a participação de pesquisadores e alunos de iniciação científica e tecnológica em eventos internos e externos;</li>
    <li>Certificar a participação em eventos promovidos pela coordenadoria;</li>
    <li>Organizar anualmente ao menos um evento de pesquisa e inovação;</li>
    <li>Fomentar a cultura de pesquisa e inovação e de tecnologia social;</li>
    <li>Organizar e articular a participação de alunos nos diversos programas de iniciação científica e tecnológica em todos os níveis de ensino;</li>
    <li>Articular, apoiar e/ou elaborar projetos de pesquisa ou de inovação visando a participação do <em>Câmpus</em> em chamadas públicas ou outras fontes de recursos; os referidos projetos deverão estar sintonia com as políticas institucionais e com apreciação da Pró-Reitoria de Pesquisa e Inovação;</li>
    <li>Incentivar o trabalho colaborativo e integrado de pesquisa e inovação entre os diferentes níveis de ensino;</li>
    <li>Elaborar e encaminhar à Pró-Reitoria de Pesquisa e Inovação (PRP) relatórios anuais referentes às diversas atividades desenvolvidas no <em>Câmpus</em> que envolva pesquisa e inovação visando controle dos indicadores de produtividade do IFSP;</li>
    <li>Articular e atender às solicitações, recomendações e políticas estabelecidas da Pró-Reitoria de Pesquisa e Inovação;</li>
    <li>Organizar, editar e encaminhar à PRP anualmente o Catálogo de Pesquisas do <em>Câmpus</em>;</li>
    <li>Colaborar no mapeamento dos aglomerados e arranjos produtivos locais, promovendo sua articulação com os cursos, grupos de pesquisa, projetos de inovação em todos os níveis;</li>
    <li>Assessorar o Diretor do <em>Câmpus</em> na operacionalização, promoção e gestão da pesquisa científica e de inovação, bem como dos recursos necessários;</li>
    <li>Incentivar, colaborar e/ou promover intercâmbios, convênios ou cooperações com outras instituições científicas e tecnológicas, para estímulo dos contatos entre pesquisadores e para o desenvolvimento de projetos comuns;</li>
    <li>Prospectar, colaborar e/ou viabilizar convênios para projetos entre o <em>Câmpus</em> local, outros <em>Câmpus</em> com os meios produtivos;</li>
    <li>Orientar sobre o encaminhamento de projetos que envolvam atividades com seres humanos e/ou experimentos com animais para a devida apreciação do comitê de ética adequado;</li>
    <li>Orientar o inventor na gestão da propriedade intelectual;</li>
    <li>Zelar pelo cumprimento de legislações referentes à propriedade intelectual;</li>
    <li>Adequar a infraestrutura existente às necessidades dos diversos projetos de pesquisa e inovação e garantir sua confidencialidade;</li>
    <li>Orientar interessados no processo de buscas e consultas a bancos e bases de patentes nacionais e internacionais.</li>
    <li>Responsabilizar-se pelos bens patrimoniais pertencentes ou em uso nos ambientes de responsabilidade da Coordenadoria de Pesquisa e inovação;</li>
    <li>Colaborar no levantamento necessário, realizar análises e consolidar propostas para integrar o PDI do Câmpus;</li>
    <li>Criar condições para o cumprimento das ações propostas pelo PDI, no nível operacional, de maneira a permitir a viabilização das ações propostas;</li>
    <li>Encaminhar a Direção Geral do Câmpus, minuta do edital de seleção de discentes para Projetos de Iniciação Científica, inclusive voluntária;</li>
    <li>Desempenhar outras atividades pertinentes que lhe forem atribuídas pelo Diretor Geral do <em>Câmpus</em>;</li>
    <li>Atender às solicitações e recomendações da Pró-Reitoria de Pesquisa e Inovação.</li>
</ol>
