<a href="@Link" target="_blank" rel="noopener noreferrer">
    <div class="card mt-3">
        <h3 class="card-title">@Titulo</h3>
        <div class="card-body">
            <em>Sobre o curso</em>
            <p class="m-1">@Descrição</p>
        </div>
        <em class="text-right">
                Detalhes
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8"><path fill="currentColor" d="M5 1v2H0v1h5v2l3-2.53L5 1z"/></svg> 
        </em>
    </div>
</a>
@code
{
    [Parameter]
    public int Nível { get; set; }
    [Parameter]
    public string Titulo { get; set; } = null!;
    [Parameter]
    public string Descrição { get; set; } = null!;
    [Parameter]
    public string Link { get; set; } = null!;    
}