a{
    text-decoration: none;
}
.card{
    width: 100%;
    color: black;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    color: rgb(13, 221, 6);
    border-color: rgb(13, 221, 6);
    transform: translateY(-5px);
}
