@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <div class="footer">
            &copy; 2023 Bruno Bomfim
        </div>
    </div>

    <main style="min-height: 100vh;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
