@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <div class="footer">
            &copy; - Bruno Bomfim, 2023
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
